@font-face {
    font-family: 'gradcregular';
    src: url('font/16699-webfont.woff2') format('woff2'),
         url('font/16699-webfont.woff') format('woff'),
         url('16699-webfont.svg#gradcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body { font-family: "gradcregular", serif }

body { background-image: url('img/spd.jpg'); }


.sec {
	width: 670px;
	height: 400px;
	position: absolute;
	top: 35%;
	left:50%;
	margin: 0 auto;
	background: url(img/ded.png) no-repeat;
    background-attachment: local;
    overflow-y: scroll;
    border: 20px solid;
    padding: 15px;
    border-image: url(img/pa.png) 80 round round;
}


.tx {
	text-align: center;
	font-size: 250%;
}


.tx2 {
	text-align: justify;
	font-size: 130%;
}


.eml {
	margin-left: 35%;
	font-size: 120%;
}