.op { 
float:left; 
}

.rest {
position:absolute;
right:165px;
top:200px;
font-size: 200%;
text-align: center;
font-family: fantasy, serif;
}


.d input {
  position: absolute;
  top:750px;
  left:350px;	
  width: 55%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid;
  border-radius: 5px;
  outline: none;
  background: #FFD700;
  
}

.d button {
  position: absolute; 
  top:750px;
  right: 420px;
  width: 45px;
  height: 43px;
  border: 2px solid;
  background: #FFD700;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
